body {
    height: 100vh;
    background-color: #33363e;
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.container {
    height: 500px;
    max-width: 70%;
    margin: 10px auto;
    border-radius: 60px;
    padding: 30px;
    text-align: center;
    color: white;   
    position: relative;
    transition: all 1s ease;
}

#expand {
    opacity: 0.2;
    display: none;
}

.minimal {
    height: 150px;
    display: relative;
}

.minimal::before {
    display: none;
}

.minimal svg {
    display: none;
}

.minimal img {
    width: 100px;
    position: absolute;
    top:10px;
    right: 20px;
}

.minimal .weatherContainer {
    position: static;
}

.minimal h2 {
    display: none;
}

.minimal .weatherContainer .temp {
    font-size: 60px;
    opacity: 0.7;
}

.minimal .bottomLabel {
    display: none;
}

.minimal #expand {
    display: block;
}

.dayContainer {
    background-color: #3b8de6;
}

.nightContainer {
    background-color: #111925;
}

.container::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    background-color: #4596ff;
    border-top-left-radius:40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.nightContainer::before {
    background-color: rgba(0, 0, 0, 0.1);
}

.topLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topLabel span {
    font-size: 1.2rem;
}

svg {
    font-size: 1.5rem;
    fill: white;
}

.weatherContainer {
    width: 200px;
    margin: 30px auto;
    position: relative;
}

.nightContainer img {
    max-width: 150px;
}

.weatherContainer .temp {
    font-size: 80px;   
    position: relative;
}

.temp::after {
    content: "°";
    font-size: 40px;
    opacity: 0.6;
    position: absolute;
    top: 5px;
    right: 30px;

}

.weatherContainer .location {
    font-size: 30px;
    font-weight: 400;
}

.bottomLabel {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.bottomLabel .box span{
    margin-bottom: 10px;
}

.box span:nth-child(1) {
    display: block;
    font-size: 14px;
}

.box span:nth-child(2) {
    font-size: 32px;
}

.box span:last-child {
    display: inline;
}

@media screen and (min-width:1000px){
    .topLabel, .weatherContainer, .bottomLabel {
        width: 30%;
        margin-inline: auto;
    }
    .weatherContainer img {
        width: 200px;
    }
    .minimal img {
        width: 100px;
    }

    .weatherContainer .temp::after {
        right: 130px;
    }

}